html {
  box-sizing: border-box;
  font: 12pt Lato, 'Open Sans', Arial;
  color: $off-white
}

*, *::before, *::after {
  box-sizing: inherit;
  color: inherit;
  font: inherit;
}

.page {
  background-color: $off-white;
}

a {
  text-decoration: none;
}

.logo {
  font-family:'Source Code Pro';
  font-weight: 300;
}

button {
  font-size: 0.8em;
  // border: 1px solid $base-color-primary;
  border-radius: 8px;
  padding: 0.5em 1.5em;
  transition: all 0.2s;
  background-color: #449d44;
  color: $off-white;

  &:hover {
    background-color: #328532;
  }
}

a.btn {
  @extend button;
  display: inline-block;
}
