.primary-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4em;
  font-weight: 600;
  padding: 1rem 5rem;
  color: $base-color-primary;

  .logo {
    font-size: 1.3em;
    color: $base-color-secondary;
  }
}

.home-content__logo {
  font-size: 13em;
  padding-top: 30px;
  color: $base-color-primary;
  text-align: center;
}

.tabs {
  display: flex;
  flex-direction: column;
  color: $off-white;

  label {
    display: block;
    cursor: pointer;
    text-align: center;
    padding: 3rem 0.5rem;
    font: 1.3em 'Source Code Pro';
    border-right: 2px solid $off-white;
    color: $off-white;
    transition: all 0.4s;

    &:hover {
      color: $dark-secondary;
    }
  }
}

.tab-content {
  display: none;
  line-height: 160%;
  font-size: 1.3em;
  padding: 0 3rem;

  a.btn {
    font-size: 0.9em;
    margin: 5px 0;
  }
}

#tab1,
#tab2,
#tab3 {
  display: none;
}

#tab1:checked ~ .tabs > label[for="tab1"],
#tab2:checked ~ .tabs > label[for="tab2"],
#tab3:checked ~ .tabs > label[for="tab3"] {
  color: $base-color-secondary;
  border-right: 2px solid $base-color-secondary;
}

#tab1:checked ~ div.tab-content-wrapper > #tab-content1,
#tab2:checked ~ div.tab-content-wrapper > #tab-content2,
#tab3:checked ~ div.tab-content-wrapper > #tab-content3 {
  display: block;
}

.signin-content a.btn {
  margin: 1.2em 0;
  font-size: 1.2em;
}

.apply-header__header {
  margin: 0 0 0.2em 0;
}

.apply-header__description {
  font-size: 1.3em;
}

.apply-form-fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.2em;

  > div {
    width: $apply-content-width / 2;
    margin: 0 0 1em 0;
  }

  .form-control {
    width: 100%;
  }

  textarea {
    border-radius: 5px;
    outline: none;
    border: none;
    color: $off-black;
  }
}

.apply-form-fields__label {
  font-family: 'Source Code Pro';
  color: $base-color-secondary;
  padding: 0.4em 0;
}

.apply-form-fields__input {
  border-radius: 5px;
  padding: 0.3em;
  color: $off-black;
  outline: none;
  border: none;
}

.checkbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  label {
    width: $apply-content-width / 6;
    padding: 0 0 0.5em 0;

    input {
      margin: 0 0.5em 0 0;
    }
  }
}

.apply-form__button-wrapper {
  text-align: center;
}

.apply-form__button {
  font-family: Lato;
  font-size: 1.2em;
  border: none;
  margin: 1em 0;
}

.help-description {
  color: $base-color-primary;
}
