.hero__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
  font-weight: 600;
  padding: 0.5rem 5rem;
  background-color: $dark;
  color: $base-color-primary;

  .logo {
    font-size: 1.3em;
  }
}

.hero__logo {
  font-size: 12em;
  color: $base-color-primary;
  text-align: center;
  background-color: $dark;
  padding-bottom: 1.5rem;

  span {
    animation-name: fadeIn;
    animation-duration: 1200ms;
    animation-iteration-count: 1;
    animation-timing-funciton: linear;
  }
}

.tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 700px;

  label {
    display: block;
    cursor: pointer;
    text-align: center;
    width: 25%;
    padding: 0.9rem;
    font-size: 1.3em;
    color: $dark;
    border-bottom: 3px solid $dark;
    transition: all 0.5s;

    &:hover {
      color: #1177D9;
      border-color: #1177D9;
    }

    &.first {
      margin-left: 12.5%;
    }

    &.last {
      margin-right: 12.5%;
    }
  }
}

.tabs__content {
  display: none;
  line-height: 150%;
  font-size: 1.1em;

  a.btn {
    font-size: 1.1em;
    color: $base-color-primary;
    background-color: $dark;
    border-radius: 8px;
    margin: 5px 0;
  }
}

.tabs input[type=radio] {
  display: none;
}

.tabs__content * {
  animation: scale 0.5s ease-in-out;
}

#tab1:checked ~ #tab-content1,
#tab2:checked ~ #tab-content2,
#tab3:checked ~ #tab-content3 {
  display: block;
}

.tabs [id^="tab"]:checked + label {
    border-bottom: 3px solid $base-color-primary;
    color: $base-color-primary;
}

.tabs__content__header {
  color: $base-color-primary;
}

@keyframes scale {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  50% {
    transform: scale(1.01);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
    0% {
      transform: translate(0px, -40px);
      opacity: 0;
    }
    100% {
      transform: translate(0px, 0px);
      opacity: 1;
    }
}
