.page {
  display: flex;
  flex-direction: column;
  background-color: $dark-primary;
  min-height: 100vh;
  overflow-x: hidden;
}

.home-content {
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem 0 3rem;
  align-items: center;

  @media screen and (min-width: 900px) {
    padding: 3rem 1rem 0 1rem;
    flex-direction: row;
    align-items: stretch;
  }
}

.signin-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  padding-top: 3rem;
}

.signin-content__detail {
  font-size: 1.2em;
}

.signin-content__subtext {
  color: $base-color-primary;
}

.apply-header {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  text-align: center;
}

.apply-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: $panel-content-width-small;
  font-size: 0.9rem;

  @media screen and (min-width: 530px) {
    width: $panel-content-width-medium;
  }

  @media screen and (min-width: 725px) {
    width: $panel-content-width-large;
  }
}

.apply-form-wrapper {
  padding-top: 1rem;
}

.thanks-content {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding-top: 3rem;
  width: $panel-content-width-small;

  @media screen and (min-width: 530px) {
    width: $panel-content-width-medium;
  }

  @media screen and (min-width: 825px) {
    width: $panel-content-width-large;
  }
}

.thanks-content__process {
  color: $base-color-primary;
}
