$off-black: #1B1B1B;
$off-white: #DEDEDE;
$base-color-primary: #1E90FF;
$base-color-secondary: #5BB201;
$dark-primary: #0C4174;
$dark-secondary: #478804;
$panel-content-width-small: 375px;
$panel-content-width-medium: 500px;
$panel-content-width-large: 700px;
