<nav class="primary-nav">
  <a href="/">
    <span class="name--head">{az}</span><span class="name--tail">devs</span>
    <span class="name--title">{{title}}</span>
  </a>
  {{#if authenticated}}
  <a class="btn--secondary" href="/auth/github/signout">Sign out</a>
  {{else if hideSignIn}}{{else}}
  <a class="btn--secondary" href="/signin">Sign in</a>
  {{/if}}
</nav>
