<nav class="primary-nav">
  <div class="primary-nav__title">
    <a href="/">
      <span class="logo">{az}</span> {{title}}
    </a>
  </div>
  {{#if displayName}}
  <button class="login">{{user}}</button>
  {{else}}
  <a class="btn" href="/signin">Sign in</a>
  {{/if}}
</nav>
