<nav class="primary-nav">
    <a href="/">
      <span class="logo">{az}</span> {{title}}
    </a>
  {{#if authenticated}}
  <a class="btn" href="/auth/github/signout">Sign out</a>
  {{else if hideSignIn}}{{else}}
  <a class="btn" href="/signin">Sign in</a>
  {{/if}}
</nav>
