<nav class="hero__nav">
  <div>
    <div>
      <a href="/">{{title}}</a>
    </div>
    {{#if displayName}}
    {{!-- <div>
      <a href="/signout">Sign out</a>
    </div> --}}
    </form> --}}
    <div>
      <span>{{user}}</span>
    </div>
    {{else}}
    <div>
      <a href="/signin">Sign in</a>
    </div>
    {{/if}}
  </div>
</nav>
