<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Slack Invite Request</title>
  <meta name="description" content="Slack Invite Request">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
  <div class="page">
    {{{body}}}
  </div>
</body>
</html>
