<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Slack Invite Request</title>
  <meta name="description" content="Slack Invite Request">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>
<body>
  <div class="page">
    {{{body}}}
  </div>
  <script src="/scripts/main.js"></script>
</body>
</html>
