{{> nav}}

{{#header}}
<div>
  <div>
    <h2>{{blurb}}</h2>
    <p>{{description}}</p>
    <div>* {{required}}</div>
  </div>
</div>
{{/header}}

<div>
  <div>
    <form method="post" action="/apply" enctype="multipart/form-data" id="application">
      {{#form}}
        <div>
        {{#fullName}}
          {{> field}}
        {{/fullName}}
        </div>
        <div>
        {{#email}}
          {{> field}}
        {{/email}}
        </div>
        {{#custom}}
        <div>
          {{> field}}
        </div>
        {{/custom}}
      {{/form}}

      <button type="submit">Submit</button>
    </form>
  </div>
</div>

{{> scripts}}
