{{> nav}}

<div>
  <div class="applied-content">
    <h2 class="primary-header applied-content__header">Whoa, <span>{{name}}</span>!</h1>
    <p>It appears you have already applied to <span>{{about.team.name}}</span>.</p>
    <p>You previously applied on <span class="applied-content__application-date">{{formatDate applied_at}}</span>.</p>
  </div>
</div>

{{> scripts}}
