{{> nav}}

<div class="error-content">
  <h2 class="primary-heading error-content__header">Oops!</h2>
  <p class="error-content__detail">{{{message}}}</p>
  <p class="error-content__subtext">{{subtext}}</p>
</div>

{{> scripts}}
