{{> nav}}

<div class="jumbotron">
  <div class="container">
    <h2 class="login-blurb">{{blurb}}</h2>
    <p class="login-detail">{{detail}}</p>
      <a href="/auth/github" class="btn btn-default btn-lg"><i class="fa fa-lg fa-github"></i> Authorize</a>
  </div>
</div>

<div class="container">
  <p class="login-subtext small">{{subtext}}</p>
</div>

{{> scripts}}
