{{> nav}}

<div>
  <div>
    <h2>{{blurb}}</h2>
    <p>{{detail}}</p>
      <a href="/auth/github"><i class="fa fa-lg fa-github"></i> Authorize</a>
  </div>
</div>

<div>
  <p>{{subtext}}</p>
</div>

{{> scripts}}
