{{> nav}}

<div class="signin-content">
  <h2 class="primary-heading signin-content__header">{{blurb}}</h2>
  <p class="signin-content__detail">{{detail}}</p>
  <a class="btn" href="/auth/github">
    <i class="fa fa-lg fa-github"></i> Authorize
  </a>
  <p class="signin-content__subtext">{{subtext}}</p>
</div>

{{> scripts}}
