.title {
  margin-top: 10px;
}

.signin {
  width: 112px;
  margin: 0 auto;
}

.required {
  position: relative;
  top: -1px;
  color: red;
  font-size: 80%;
  margin: 1px;
}

.sample-screenshot {
  width: 340px;
  height: 628px;
  background-image: url(/images/submit.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

input:not([type=submit]):not([type=file]), textarea {
  width: 200px;
}

.jumbotron {
  color: #eee;
  background-color: #1E90FF;
  background-image: radial-gradient(10px at right 50% , #00BFFF 0, rgba(0, 0, 0, 0.2) 500px), url(/images/az-webdevs.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
